
<h3>Selected Modules</h3>
<ul id="selected-modules"></ul>
<h3>Effects</h3>
<ul id="effects"></ul>
@model ModuleIndexViewModel

<table id="moduleTable">
    <tbody>
        @foreach (var m in Model.Modules)
        {
            <tr>
                <td>@m.Name</td>
                <td>@m.Description</td>
                <td>
                    <button class="btn btn-primary add-btn" data-id="@m.Id">
                        Add
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#moduleTable').DataTable();
        });

             $.ajax({
            url: "/Modules/AddModule",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                def: person.def,
                atk: person.atk,
                hp: person.hp,
                selectedModules: person.modules,
                newModuleId: moduleId
            }),
            success: function (res) {
                if (res.success) {
                    person = res.person; // replace with updated person from backend
                    person.updateUI();
                }
            }
        });

    </script>
}
